.playlist__cover{
    display: flex;
    justify-content: left;
    align-items:end;
    padding: 20px;
}

.cover__img__wrapper, .cover__img__wrapper__album{
    height: 14rem;
    width: 14rem;
    border-radius: 0.3rem;
    overflow: hidden; 
    transition: all 0.2s;
}

.cover__img, .cover__img__album{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cover__img__wrapper__album:hover{
    scale: 1.02;
}

.cover__wrapper__hidden {
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.cover__hidden {
    background-color: #0000006b;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
}

.cover__img__hidden {
    position: relative;  
    border-radius: 0.6em;
}

.hidden__close {
    margin-top: 40px;    
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.2s;
}

.hidden__close:hover{
    scale: 1.04;
}


.cover__title{
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 0.9rem;
}   

.cover__type{
    font-size: 0.8rem;
    font-weight: 700;
}

.cover__wideinfo{
    display: flex;
    gap: 0.5em;
    color: #dfdfdf;
    
}

.cover__info{
    margin-left: 1rem;
}

.cover__avatar{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.cover__owner, .cover__artist{
    color: #fff;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
}
.cover__owner:hover, .cover__artist:hover{
    text-decoration: underline;
}

.cover__artists{
    display: flex;
    gap: 0.5em
}

.playlist__controls {
    display: flex;
    align-items: center;
    background: rgb(18,18,18); 
    background: linear-gradient(180deg, rgba(18,18,18,0.3) 0%, rgba(18,18,18,1) 90%);

  }
  
  .playlist__play{
    font-size: 4.2rem;
    padding: 20px;
    color: #1ED760;
    cursor: pointer;
    transition: all 0.2s;
  }
  .playlist__play:hover{
    scale: 1.07;
    color: #38DA72;
  }
  .playlist__options{
    font-size: 1.5em;
    cursor: pointer;
    color: #b3b3b3;
  }
  .playlist__options:hover{
    color: #fff;
  }
  
